notebooks/.ipynb_checkpoints/
notebooks/pynotebooks/.ipynb_checkpoints/
*.ipynb
notebooks/.DS_store
notebooks/__pycache*
notebooks/test.*
.DS_Store
.python-version
src/__pycache*
si4kalman/__pycache*
si4kalman_casadi/__pycache*
